*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 1000px;
    height: 400px;
    border: 2px solid darkred;
    margin: auto;
}
#character{
    width: 70px;
    height: 100px;
    background-color: hotpink;
    position:relative;
    top: 300px;
}
.animate{
    animation: jump 0.6s linear;
}
@keyframes jump{
    0%{top: 300px;}
    30%{top: 200px;}
    70%{top: 200px;}
    100%{top: 300px;}
}

#block{
    background-color: blue;
    width: 40px;
    height: 40px;
    position: relative;
    top: 260px;
    left: 1000px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 1000px}
    100%{left: -40px}
}
p{
    text-align: center;
}
